.cart {
    padding: 1rem 5rem;

    &>h1 {
        margin-top: 0.2rem;
        font-size: 36px;
        margin-bottom: 0.1rem;
        font-weight: normal;
        color: rgb(103, 103, 103);
    }

    .ant-table {
        .ant-table-thead {
            .ant-table-cell {
                background-color: transparent;
                color: rgb(103, 103, 103);
                font-size: 20px;

                &:not(:first-child) {
                    text-align: center;
                }

                &::before {
                    display: none;
                }
            }
        }

        .ant-table-tbody {
            .ant-table-row {
                .ant-table-cell {
                    &:not(:first-child) {
                        text-align: center;
                    }

                    .product-info {
                        display: flex;
                        align-items: center;

                        .product-name {
                            h1 {
                                font-size: 18px;
                                margin-bottom: 0.2rem;
                            }

                            p {
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .checkout {
        margin-top: 2rem;
        text-align: right;

        h3 {
            font-size: 24px;
            margin-bottom: 0.2rem;
            font-weight: normal;

            span {
                font-size: 24px;
            }
        }

        p {
            font-size: 18px;
            color: #999;
        }
    }
}