.profile {
    padding: 3rem 5rem;

    .ant-tabs-tab {
        transition: all 0.2s ease-in-out;

        &.ant-tabs-tab-active {
            background-color: #000;

            .ant-tabs-tab-btn {
                span {
                    color: #FFF;
                }
            }
        }

        .ant-tabs-tab-btn {
            span {
                display: flex;
                align-items: center;
                color: #000;

                svg {
                    margin-right: 0.5rem;
                }
            }

            &:hover {
                color: #000;
            }
        }
    }

    .ant-tabs-ink-bar {
        display: none;
    }

    .ant-form-item {
        padding: 0 3rem;

        .ant-form-item-label {
            text-align: left;
        }
    }

    .btn-group {
        padding: 0 3rem;
        text-align: right;

        .btn:last-child {
            margin-left: 1rem;
        }
    }
}