.header {
    .header-up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1rem 1rem;
        border-bottom: 1px solid #e5e5e5;

        .search {
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }

        .logo {
            &:hover {
                opacity: 0.5;
            }
        }

        .feature {
            display: flex;
            align-items: center;

            img {
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            img:last-child {
                margin-left: 2rem;
            }


            &>span {
                font-size: 1.2rem;
                color: #595959;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .header-down {
        padding: 1rem 0;

        ul {
            list-style: none;
            padding: none;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin-right: 2rem;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }

                a {
                    text-decoration: none;
                    color: #726E8D;
                }
            }
        }
    }
}

.footer {
    background-color: #1F1E22;
    padding: 2rem 4rem;

    p,
    h1,
    h5,
    h4,
    a {
        color: #FFF;
        margin-bottom: 0.5rem;
    }

    h1 {
        font-size: 30px;
        line-height: 35px;
    }

    h4 {
        font-size: 18px;
        line-height: 30px;
    }

    a {
        &:hover {
            color: #726E8D;
        }
    }
}